main {
    display: flex;
    justify-content: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 16px);
    grid-template-rows: repeat(16, 16px);
    border: 1px solid black;
}

.grid-item {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
