main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

p {
    margin: 0;
}

#grid-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid black;
}

.grid-item {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
